* {
    padding: 0;
    margin: 0;
}

/* <header> */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.logo img {
    width: 90%;
    height: 100%;

}

.navbar {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: fantasy;
}

/* </header> */

/* <conteudo> */
.container {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #daa520;
    justify-content: center;
}

.banner {
    height: 100%;
    width: 100%;
    background-image: url(../assets/campo.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    border: 1px solid #daa520;
    font-size: 20px;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

.explic {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/flor.jpg);
    background-size: cover;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(255, 101, 126);
}

.explic button{

    width: 20%;
    color: #daa520;
    font-size: large;
    border-radius: 20px;
    background-color: blue;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
}


.formBox {
    background-color: #daa520;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

.Box {
    width: 20%;
    height: 100%;
    border: 2px solid black;
    justify-content: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 50px;
    background-color: yellow;
}

.escritor {
    height: 80%;
    width: 100%;
    background-image: url(../assets/escritor.jpg);
    background-size: cover;
    border-bottom: 1px solid black;
}

.diario {
    height: 80%;
    width: 100%;
    background-image: url(../assets/Diario.jpg);
    background-size: cover;
    border-bottom: 1px solid black;
}









/* </conteudo> */


/* <footer> */

.footer {
    width: 100%;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: fantasy;
}

/* </footer> */